.products__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 0 0 30px;
  margin-bottom: 30px;

  border-bottom: 1px solid #b9b9b9;
}

.products__buttons {
  display: flex;
}

.products__left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 70px;
  margin-right: 1px;

  color: $white;
  font-size: 2rem;
  font-family: monospace;

  background: $red;

  &.disabled {
    outline: none;
    cursor: not-allowed;

    opacity: .7;
  }
}

.products__right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 70px;

  color: $white;
  font-size: 2rem;
  font-family: monospace;

  background-color: $black;

  &.disabled {
    outline: none;
    cursor: not-allowed;

    opacity: .7;
  }
}

.products__title {
  font-size: 1.875rem;
  color: rgb(0, 161, 190);

  border-bottom: 1px solid $red;

  transform: translateY(1px);
}