<div class="container">
    <div class="products__top">
        <div class="products__title">Who We Are</div>
    </div>

    <div class="about__text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in
        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including
        versions of Lorem Ipsum.
    </div>

    <div class="about__buttons">
        <a href="#" class="about__choose">
            <img class="about__image" src="assets/img/choose.png" alt="">
            <span class="about__span">Choose<br> Products</span>
        </a>
        <a href="#" class="about__register">
            <img class="about__image" src="assets/img/register.png" alt="">
            <span class="about__span">Register/<br>Login</span>
        </a>
        <a href="#" class="about__checkout">
            <img class="about__image" src="assets/img/checkout.png" alt="">
            <span class="about__span">Checkout</span>
        </a>
    </div>

    <div class="about__registration"><a href="#">Register Now</a></div>
</div>