<div class="container bottom__grid">
    <div class="bottom__block">
        <div class="bottom__title">shopping with us</div>
        <ul class="bottom__menu">
            <li class="bottom__link"><a href="#">why shop with us?</a></li>
            <li class="bottom__link"><a href="#">how it works</a></li>
            <li class="bottom__link"><a href="#">delivery</a></li>
            <li class="bottom__link"><a href="#">returns</a></li>
            <li class="bottom__link"><a href="#">where's my order</a></li>
            <li class="bottom__link"><a href="#">contact & help</a></li>
            <li class="bottom__link"><a href="#">wedding list</a></li>
            <li class="bottom__link"><a href="#">wish lists</a></li>
            <li class="bottom__link"><a href="#">gift vouchers</a></li>
        </ul>
    </div>

    <div class="bottom__block">
        <div class="bottom__title">about us</div>
        <ul class="bottom__menu">
            <li class="bottom__link"><a href="#">our story</a></li>
            <li class="bottom__link"><a href="#">customer contact</a></li>
            <li class="bottom__link"><a href="#">awards</a></li>
            <li class="bottom__link"><a href="#">press centre</a></li>
            <li class="bottom__link"><a href="#">work with us</a></li>
            <li class="bottom__link"><a href="#"> terms & conditions</a></li>
            <li class="bottom__link"><a href="#">privacy & cookies</a></li>
        </ul>
    </div>

    <div class="bottom__block">
        <div class="bottom__title">selling with us</div>
        <ul class="bottom__menu">
            <li class="bottom__link"><a href="#">why join?</a></li>
            <li class="bottom__link"><a href="#">faqs</a></li>
            <li class="bottom__link"><a href="#">apply to sell with us</a></li>
            <li class="bottom__link"><a href="#">affiliates</a></li>
        </ul>
    </div>

    <div class="bottom__block bottom__block--social">
        <div class="bottom__title">Signup newsletter</div>

        <form class="bottom__subscribe">
            <input type="email" class="bottom__email" placeholder="e.g.: abc@domain.com">
            <button type="submit" class="bottom__send">subscribe now</button>
        </form>

        <div class="bottom__social">
            <div class="bottom__title bottom__title--social">keep in touch</div>
            <div class="bottom__social-buttons">
                <a href="#" class="bottom__button"><img src="assets/img/social_1.jpg" alt=""></a>
                <a href="#" class="bottom__button"><img src="assets/img/social_2.jpg" alt=""></a>
                <a href="#" class="bottom__button"><img src="assets/img/social_3.jpg" alt=""></a>
                <a href="#" class="bottom__button"><img src="assets/img/social_4.jpg" alt=""></a>
                <a href="#" class="bottom__button"><img src="assets/img/social_5.jpg" alt=""></a>
            </div>
        </div>
    </div>

</div>