<div class="container">
    <div class="products__top">
        <div class="products__title">Featured Products</div>
        <div class="products__buttons">
            <button class="products__left products__left--featured"><</button>
            <button class="products__right products__right--featured">></button>
        </div>
    </div>
    <div class="featured__slider">
        <div class="featured__item">
            <div class="featured__body"
                 style="
                  background: url('assets/img/featured_1.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;"
            >
                <div class="featured__label">20% OFF</div>
                <div class="featured__span">
                    <div class="featured__title">Product Title here</div>
                    <div class="featured__subtitle">Short Description here</div>
                </div>
            </div>

            <div class="featured__buttons">
                <a class="featured__arrows" href="#"><img src="assets/img/arrows.png" alt=""></a>
                <a class="featured__gift" href="#"><img src="assets/img/gift_btn.png" alt=""></a>
                <a class="featured__cart" href="#"><img src="assets/img/cart_btn.png" alt=""></a>
                <a class="featured__price" href="#"><p>$99.<sup>00</sup></p></a>
            </div>


        </div>
        <div class="featured__item">
            <div class="featured__body"
                 style="
                  background: url('assets/img/featured_2.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;"
            >
                <div class="featured__span">
                    <div class="featured__title">Product Title here</div>
                    <div class="featured__subtitle">Short Description here</div>
                </div>
            </div>

            <div class="featured__buttons">
                <a class="featured__arrows" href="#"><img src="assets/img/arrows.png" alt=""></a>
                <a class="featured__gift" href="#"><img src="assets/img/gift_btn.png" alt=""></a>
                <a class="featured__cart" href="#"><img src="assets/img/cart_btn.png" alt=""></a>
                <a class="featured__price" href="#"><p>$99.<sup>00</sup></p></a>
            </div>


        </div>
        <div class="featured__item featured__item--blue">
            <div class="featured__body"
                 style="
                  background: url('assets/img/featured_3.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;"
            >
                <div class="featured__label">New</div>
                <div class="featured__span">
                    <div class="featured__title">Product Title here</div>
                    <div class="featured__subtitle">Short Description here</div>
                </div>
            </div>

            <div class="featured__buttons">
                <a class="featured__arrows" href="#"><img src="assets/img/arrows.png" alt=""></a>
                <a class="featured__gift" href="#"><img src="assets/img/gift_btn.png" alt=""></a>
                <a class="featured__cart" href="#"><img src="assets/img/cart_btn.png" alt=""></a>
                <a class="featured__price" href="#"><p>$99.<sup>00</sup></p></a>
            </div>


        </div>
        <div class="featured__item">
            <div class="featured__body"
                 style="
                  background: url('assets/img/featured_4.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;"
            >
                <div class="featured__span">
                    <div class="featured__title">Product Title here</div>
                    <div class="featured__subtitle">Short Description here</div>
                </div>
            </div>

            <div class="featured__buttons">
                <a class="featured__arrows" href="#"><img src="assets/img/arrows.png" alt=""></a>
                <a class="featured__gift" href="#"><img src="assets/img/gift_btn.png" alt=""></a>
                <a class="featured__cart" href="#"><img src="assets/img/cart_btn.png" alt=""></a>
                <a class="featured__price" href="#"><p>$99.<sup>00</sup></p></a>
            </div>


        </div>

        <!-- Duplicate for slide -->
        <div class="featured__item">
            <div class="featured__body"
                 style="
                  background: url('assets/img/featured_1.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;"
            >
                <div class="featured__label">20% OFF</div>
                <div class="featured__span">
                    <div class="featured__title">Product Title here</div>
                    <div class="featured__subtitle">Short Description here</div>
                </div>
            </div>

            <div class="featured__buttons">
                <a class="featured__arrows" href="#"><img src="assets/img/arrows.png" alt=""></a>
                <a class="featured__gift" href="#"><img src="assets/img/gift_btn.png" alt=""></a>
                <a class="featured__cart" href="#"><img src="assets/img/cart_btn.png" alt=""></a>
                <a class="featured__price" href="#"><p>$99.<sup>00</sup></p></a>
            </div>


        </div>
        <div class="featured__item">
            <div class="featured__body"
                 style="
                  background: url('assets/img/featured_2.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;"
            >
                <div class="featured__span">
                    <div class="featured__title">Product Title here</div>
                    <div class="featured__subtitle">Short Description here</div>
                </div>
            </div>

            <div class="featured__buttons">
                <a class="featured__arrows" href="#"><img src="assets/img/arrows.png" alt=""></a>
                <a class="featured__gift" href="#"><img src="assets/img/gift_btn.png" alt=""></a>
                <a class="featured__cart" href="#"><img src="assets/img/cart_btn.png" alt=""></a>
                <a class="featured__price" href="#"><p>$99.<sup>00</sup></p></a>
            </div>


        </div>
        <div class="featured__item featured__item--blue">
            <div class="featured__body"
                 style="
                  background: url('assets/img/featured_3.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;"
            >
                <div class="featured__label">New</div>
                <div class="featured__span">
                    <div class="featured__title">Product Title here</div>
                    <div class="featured__subtitle">Short Description here</div>
                </div>
            </div>

            <div class="featured__buttons">
                <a class="featured__arrows" href="#"><img src="assets/img/arrows.png" alt=""></a>
                <a class="featured__gift" href="#"><img src="assets/img/gift_btn.png" alt=""></a>
                <a class="featured__cart" href="#"><img src="assets/img/cart_btn.png" alt=""></a>
                <a class="featured__price" href="#"><p>$99.<sup>00</sup></p></a>
            </div>


        </div>
        <div class="featured__item">
            <div class="featured__body"
                 style="
                  background: url('assets/img/featured_4.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;"
            >
                <div class="featured__span">
                    <div class="featured__title">Product Title here</div>
                    <div class="featured__subtitle">Short Description here</div>
                </div>
            </div>

            <div class="featured__buttons">
                <a class="featured__arrows" href="#"><img src="assets/img/arrows.png" alt=""></a>
                <a class="featured__gift" href="#"><img src="assets/img/gift_btn.png" alt=""></a>
                <a class="featured__cart" href="#"><img src="assets/img/cart_btn.png" alt=""></a>
                <a class="featured__price" href="#"><p>$99.<sup>00</sup></p></a>
            </div>


        </div>
    </div>
</div>