<div class="container header__grid">
    <div class="header__top">
        <ul class="header__menu">
            <li class="header__menu-link"><a href="#">Sell</a></li>
            <li class="header__menu-link"><a href="#">Registry</a></li>
            <li class="header__menu-link"><a href="#">Community</a></li>
            <li class="header__menu-link"><a href="#">Blogs</a></li>
            <li class="header__menu-link"><a href="#">Mobile</a></li>
            <li class="header__menu-link"><a href="#">Gift Cards</a></li>
        </ul>
    </div>
    <div class="header__logo">
        <img src="/assets/img/logo.png" alt="">
    </div>
    <div class="header__control">
        <div class="header__burger"></div>
        <a href="#" class="header__control-link">Register</a>
        <a href="#" class="header__control-link">Sign In</a>
        <a href="#" class="header__control-link">Whislost</a>
        <a href="#" class="header__control-link">Cart</a>
    </div>
    <div class="header__bottom">
        <ul class="header__categories hidden">
            <li class="header__category">
                <a href="#">Art</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
            <li class="header__category">
                <a href="#">Home & Living</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
            <li class="header__category">
                <a href="#">Jewelry</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
            <li class="header__category">
                <a href="#">Women</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
            <li class="header__category">
                <a href="#">Men</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
            <li class="header__category">
                <a href="#">Kids</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
            <li class="header__category">
                <a href="#">Vintage</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
            <li class="header__category">
                <a href="#">Weddings</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
            <li class="header__category">
                <a href="#">More</a>
                <div class="submenu">
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <div class="submenu__item">
                        <img src="/assets/img/submenu_img.jpg" alt="" class="submenu__img">
                        <div class="submenu__main">
                            <h2 class="submenu__title">Item Name Here</h2>
                            <p class="submenu__subtitle">Lorem Ipsum is simply dummy text of the</p>
                            <a href="#" class="btn submenu__btn">More Detail</a>
                        </div>

                    </div>
                    <a href="#" class="submenu__link">See all items</a>
                </div>
            </li>
        </ul>
    </div>
</div>