<div class="container main__grid">
    <div class="main__mens">
        <a class="blocks__overlay" href="#"></a>
        <div class="popup">
            <div class="popup__title">
                Men’s Wear
            </div>
            <div class="popup__subtitle">
                Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem
            </div>
        </div>
        <div class="main__text">
            Lorem Ipsum is simply dummy
        </div>
    </div>
    <div class="main__womens">
        <a class="blocks__overlay" href="#"></a>
        <div class="popup popup--women">
            <div class="popup__title">
                Women’s Wear
            </div>
            <div class="popup__subtitle">
                Lorem Ipsum is simply dummy text of the
                printing and typesetting
            </div>
        </div>
    </div>
    <div class="main__baby">
        <a class="blocks__overlay"  href="#"></a>
        <div class="cart_module">
            <div class="cart_module__text">
                Baby Shop
            </div>
            <div class="cart_module__btns">
                <a href="#" class="cart_module__gift">
                    <img src="assets/img/gift.png" alt="">
                    <span class="cart_module__tooltip">take a gift<i></i></span>

                </a>
                <a href="#" class="cart_module__cart">
                    <img src="assets/img/cart.png" alt="">
                    <span class="cart_module__tooltip">add to cart<i></i></span>

                </a>
            </div>
            <div class="cart_module__price">
                <p>$99.<sup>00</sup></p>
            </div>
        </div>
    </div>
    <div class="main__search">
        <form class="main__form" action="#">
            <input type="text" id="main_text">
            <label for="main_text">Search your product here <span>( e.g.: Silver diamond ring )</span></label>
            <button type="submit"></button>
        </form>
    </div>
    <div class="main__crafts">
        <a class="blocks__overlay"  href="#"></a>
        <div class="cart_module cart_module--crafts">
            <div class="cart_module__text">
                Crafts
            </div>
            <div class="cart_module__btns">
                <a href="#" class="cart_module__gift">
                    <img src="assets/img/gift.png" alt="">
                    <span class="cart_module__tooltip">take a gift<i></i></span>
                </a>
                <a href="#" class="cart_module__cart">
                    <img src="assets/img/cart.png" alt="">
                    <span class="cart_module__tooltip">add to cart<i></i></span>
                </a>
            </div>
            <div class="cart_module__price">
                <p>$99.<sup>00</sup></p>
            </div>
        </div>
    </div>
    <div class="main__jewelry">
        <a class="blocks__overlay"  href="#"></a>
        <div class="main__span">
            Jewelry
            <span class="main__go">
                <div class="main__forward"> > </div>
            </span>
        </div>

    </div>
</div>