<div class="container">
    <div class="products__top">
        <div class="products__title">New Products</div>
        <div class="products__buttons">
            <button class="products__left products__left--new"><</button>
            <button class="products__right products__right--new">></button>
        </div>
    </div>
    <div class="new__slider">
        <div class="new__item new__item--women">
            <a class="blocks__overlay" href="#"></a>
            <div class="cart_module cart_module--slider">
                <div class="cart_module__text">
                    Women Shop
                </div>
                <div class="cart_module__btns">
                    <a href="#" class="cart_module__gift">
                        <img src="assets/img/gift.png" alt="">
                        <span class="cart_module__tooltip">take a gift<i></i></span>
                    </a>
                    <a href="#" class="cart_module__cart">
                        <img src="assets/img/cart.png" alt="">
                        <span class="cart_module__tooltip">add to cart<i></i></span>
                    </a>
                </div>
                <div class="cart_module__price">
                    <p>$99.<sup>00</sup></p>
                </div>
            </div>
        </div>
        <div class="new__item new__item--baby">
            <a class="blocks__overlay" href="#"></a>
            <div class="cart_module cart_module--slider">
                <div class="cart_module__text">
                    Baby Shop
                </div>
                <div class="cart_module__btns">
                    <a href="#" class="cart_module__gift">
                        <img src="assets/img/gift.png" alt="">
                        <span class="cart_module__tooltip">take a gift<i></i></span>
                    </a>
                    <a href="#" class="cart_module__cart">
                        <img src="assets/img/cart.png" alt="">
                        <span class="cart_module__tooltip">add to cart<i></i></span>
                    </a>
                </div>
                <div class="cart_module__price">
                    <p>$99.<sup>00</sup></p>
                </div>
            </div>
        </div>
        <div class="new__item new__item--men">
            <a class="blocks__overlay" href="#"></a>
            <div class="cart_module cart_module--slider">
                <div class="cart_module__text">
                    Men shop
                </div>
                <div class="cart_module__btns">
                    <a href="#" class="cart_module__gift">
                        <img src="assets/img/gift.png" alt="">
                        <span class="cart_module__tooltip">take a gift<i></i></span>
                    </a>
                    <a href="#" class="cart_module__cart">
                        <img src="assets/img/cart.png" alt="">
                        <span class="cart_module__tooltip">add to cart<i></i></span>
                    </a>
                </div>
                <div class="cart_module__price">
                    <p>$99.<sup>00</sup></p>
                </div>
            </div>
        </div>

        <div class="new__item new__item--women">
            <a class="blocks__overlay" href="#"></a>
            <div class="cart_module cart_module--slider">
                <div class="cart_module__text">
                    Women Shop
                </div>
                <div class="cart_module__btns">
                    <a href="#" class="cart_module__gift">
                        <img src="assets/img/gift.png" alt="">
                        <span class="cart_module__tooltip">take a gift<i></i></span>
                    </a>
                    <a href="#" class="cart_module__cart">
                        <img src="assets/img/cart.png" alt="">
                        <span class="cart_module__tooltip">add to cart<i></i></span>
                    </a>
                </div>
                <div class="cart_module__price">
                    <p>$99.<sup>00</sup></p>
                </div>
            </div>
        </div>
        <div class="new__item new__item--baby">
            <a class="blocks__overlay" href="#"></a>
            <div class="cart_module cart_module--slider">
                <div class="cart_module__text">
                    Baby Shop
                </div>
                <div class="cart_module__btns">
                    <a href="#" class="cart_module__gift">
                        <img src="assets/img/gift.png" alt="">
                        <span class="cart_module__tooltip">take a gift<i></i></span>
                    </a>
                    <a href="#" class="cart_module__cart">
                        <img src="assets/img/cart.png" alt="">
                        <span class="cart_module__tooltip">add to cart<i></i></span>
                    </a>
                </div>
                <div class="cart_module__price">
                    <p>$99.<sup>00</sup></p>
                </div>
            </div>
        </div>
        <div class="new__item new__item--men">
            <a class="blocks__overlay" href="#"></a>
            <div class="cart_module cart_module--slider">
                <div class="cart_module__text">
                    Men shop
                </div>
                <div class="cart_module__btns">
                    <a href="#" class="cart_module__gift">
                        <img src="assets/img/gift.png" alt="">
                        <span class="cart_module__tooltip">take a gift<i></i></span>
                    </a>
                    <a href="#" class="cart_module__cart">
                        <img src="assets/img/cart.png" alt="">
                        <span class="cart_module__tooltip">add to cart<i></i></span>
                    </a>
                </div>
                <div class="cart_module__price">
                    <p>$99.<sup>00</sup></p>
                </div>
            </div>
        </div>

    </div>

</div>