//WIDTH`S

$container : 1170px;


//BREAKPOINT -
$container_md : 890px;
$container_sm : 750px;
$container_xs : 0;
//------------------

//COLORS
$white : #fff;
$black : #434343;
$blue : #05aecc;
$red : #f0626e;
//------------------

//FONTS
